[env]
base.version=2.0.1

[plugins]
jembe-multimedia=2.0.1

[general]
app.name=myapp
app.title=myapp
app.version=1.0.0
app.icon=icons/logo_512x512.png
app.size=650x500
app.splash.text.rect=20 245 500 20
app.splash.version.rect=230 135 200 20
app.url=
app.company=
app.update.url=
	
[ios]
app.airplay=false
app.fullscreen=false
app.icon.effect=false
app.id=com.example.myapp
app.itune.icon=
app.splash.portrait=icons/logo_768x1004.png
app.splash.landscape=icons/logo_1024x748.png
app.background=audio
app.language=fr_FR

	
[android]
app.id=com.example.myapp
app.version.code=1
app.splash=icons/logo_1024x748.png

	
[installer_texts]
title_install=Installation de myapp
install_startup=Ceci installera myapp sur votre ordinateur. Continuer ?
install_destination=L’installation du myapp s’effectuera dans le répertoire ci-dessous.\n\nPour une installation dans ce répertoire, cliquez sur le bouton Suivant.\n\nPour une installation dans un autre répertoire, cliquer sur le bouton Parcourir et sélectionnez un autre répertoire sur votre ordinateur.
install_destination_subtitle=Où installer myapp ?
install_separator=
install_complete_subtitle=L’installation de myapp est terminée
install_complete=Cliquez sur Terminer pour quitter l’assistant.
uninstall_title=Désinstallation du myapp
uninstall_complete=myapp est désinstallé de votre ordinateur.
uninstall_start=Ceci supprimera myapp et tous ses contenus de votre ordinateur. Etes-vous certain de vouloir continuer ?
install_welcome_subtitle=Bienvenue dans l’assistant d’installation de myapp.
install_welcome=Ceci installera myapp version $${version} sur votre ordinateur.\n\nCliquez  sur  Suivant  pour  continuer  ou  sur  Annuler  pour  quitter  l’installation.
install_copy_label=<%FileBeingInstalledText%>
install_copy_message=Patientez pendant l’installation de myapp sur votre ordinateur.

	
